<body>

  <div>
    <h3>Zona 1</h3>
    <ul ngClass="zonaOne">
      <li *ngFor="let doc of zonaOne">
        <div ngClass="sku">
          <p>{{doc.defaultSku}}</p>
          <div ngClass="item_sku">{{doc.sku}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h3>Zona 2</h3>
    <ul ngClass="zonaTwo">
      <li *ngFor="let doc of zonaTwo">
        <div ngClass="sku">
          <p>{{doc.defaultSku}}</p>
          <div ngClass="item_sku">{{doc.sku}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h3>Zona 4</h3>
    <ul ngClass="zonaFour">
      <li *ngFor="let doc of zonaFour">
        <div ngClass="sku">
          <p>{{doc.defaultSku}}</p>
          <div ngClass="item_sku">{{doc.sku}}</div>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <h3>Zona 5</h3>
    <ul ngClass="zonaFive">
      <li *ngFor="let doc of zonaFive">
        <div ngClass="sku">
          <p>{{doc.defaultSku}}</p>
          <div ngClass="item_sku">{{doc.sku}}</div>
        </div>
      </li>
    </ul>
  </div>

</body>
